# 网站信息
title:              "Less is More"
description:        "个人小站"

# 作者信息
author_name:        "allenwu"
author_email:       wuchangfeng2015@gmail.com
twitter_username:   allenwu

# 网站设置
baseurl:            ""
permalink:          /:title
timezone:           Asia/Shanghai
encoding:           UTF-8  

paginate: 20
paginate_path: "page:num"
gems: [jekyll-paginate]


# 网站生成
#highlighter:        pygments
highlighter:        rouge
markdown:           kramdown
kramdown:
    input:          GFM
sass:
    style:          :compressed

# 其他配置
include:            [ "robots.txt" ]
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile" ]
#gems:
#  - jekyll-sitemap

compress_html:
    clippings:      all
    ingore:
        envs:       [ "test" ]

defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"
