---
layout: default
---

<noscript>
    <style>
        article .footnotes {
            display: block;
        }
    </style>
</noscript>

<article>

    <div class="center">
        <h1>{{ page.title }}</h1>
        <time>{{ page.date|date: "%m-%d,&nbsp;%Y" }}</time>
    </div>
    <!--分割线-->
    <div class="divider"></div>

    <div id="content">
    {{ content }}
    </div>

</article>



<div class="center" style="margin-top: 30px">
        <a href="https://weibo.com/2970427045/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1">欢迎关注我的微博</a>
</div>
<div class="center" style="margin-top: 2px">
        <a href="https://t.me/xiaowutongxue">欢迎关注我的Telegram频道</a>
</div>
<div class="center" style="margin-top: 2px">
        <a>欢迎添加我的微信与我交流</a>
</div>


<div class="center" style="margin-top: 10px">
        <img src="http://ww1.sinaimg.cn/large/006dXScfly1fl3s0wbfbvj30h80h245x.jpg" width="150" height="150" />
</div>


<!--
<div class="back">
    <a href="{{ site.baseurl }}/">Back</a>
</div>
-->

<script type="text/javascript">
    
    var imgs = document.getElementById("content").getElementsByTagName("img");
    for (var i = imgs.length - 1; i >= 0; i--) {
        imgs[i].setAttribute("data-action", "zoom");
    }
</script>
<script src="assets/zoom.js"></script>