---
layout: default
---

<noscript>
    <style>
        article .footnotes {
            display: block;
        }
    </style>
</noscript>

<article>

    <div class="center">
        <h1>{{ page.title }}</h1>
        <time>{{ page.date|date: "%m-%d,&nbsp;%Y" }}</time>
    </div>
    <!--分割线-->
    <div class="divider"></div>

    <div id="content">
    {{ content }}
    </div>

</article>

<div class="back">
    <a href="{{ site.baseurl }}/">Back</a>
</div>

<div class="center">
        <br/>
        <h5>
        评论或交流：wuchangfeng2015@gmail.com<br/>
        </h5>
</div>


<script type="text/javascript">
    
    var imgs = document.getElementById("content").getElementsByTagName("img");
    for (var i = imgs.length - 1; i >= 0; i--) {
        imgs[i].setAttribute("data-action", "zoom");
    }
</script>
<script src="assets/zoom.js"></script>